html {
    overflow: hidden;
}


img {
    display: block;
}

.player {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.game-tile {
    margin-right: 16px;
}

.game-tile {
    margin: 0;
    padding: 0;
    display: block;
}

/*.game-container table {*/
/*    border-collapse: collapse;*/
/*    position: relative;*/
/*    left: 50%;*/
/*    top: 50%;*/
/*}*/

.game-container td {
    padding: 0;

}

.game-container tr {
    margin: 0;

}

.score{
    height: 200px;
    width: 300px;
    outline: 2px solid black;
    position: relative;
    background-color: brown;
}

.game-container {
    border-collapse: collapse;
    position: absolute;
    left: 50%;
    top: 50%;
    clip-path: circle(400px at 0% 0%);

    /*transform: translate(-50%, -50%);*/
}



#mycharacter {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: red;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


#othercharacter {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: red;
}

#inventory{
    height: 200px;
    width: 300px;
    outline: 2px solid black;
    position: relative;
    background-color: brown;
}

#shop{
    height: 300px;
    width: 800px;
    outline: 2px solid black;
    position: relative;
    background-color: brown;
}

#minGame{
    height: 300px;
    width: 800px;
    outline: 2px solid black;
    position: relative;
    background-color: brown;
}

h1{color: white;  text-align: center;}
h2{color: white;}
