img{
    display:block;
}

.player {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.game-tile {
    margin-right: 16px;
}

.game-tile {
    margin: 0;
    padding: 0;
    display: block;
}

.game-container table {
    border-collapse: collapse;
    position: absolute;
    left: 50%;
    top: 50%;
}

.game-container td {
    padding: 0;

}

.game-container tr {
    margin: 0;

}
.game-container {
    position: absolute;
    left: 50%;
    top: 50%;
    clip-path: circle(50px at center);
}
