<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/style-connect.css">
</head>
<body>
<div id="text"><h2>Hello <span data-sec-authentication="name"></span></h2></div>
<div id="form"> <form method="post" data-th-action="@{/connect}">
    <label for="inputValue">gameID</label>
    <input type="text" id="inputValue" name="inputValue"></form></div>
<div class="start">
    <button class="button" type="submit">Connect</button>
</div>

 <div class="homepagebutton"> <a href="/home">
    <p>Home</p>
</a></div>
</body>
</html>