<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <link rel="stylesheet" href="/style-home.css">
</head>
<body>
<audio id="myAudio" th:src="@{/audioHome}" th:type="'audio/mpeg'" autoplay></audio>

<div id="text"><h2><span data-sec-authentication="name"></span></h2></div>
<form data-th-action="@{/initialize-game}" method="POST">
    <!--<div id="buttton"><button type="submit">New Game</button></div>-->
    <div class="wrap">
        <button class="button">New Game</button>
    </div>
</form>
<div id="logout"> <a href="/logout">
    <p>Logout</p>
</a></div>

<!--<div id="connnect">
    <a href="/connect">
        <p>Connect</p>
    </a>
</div>
-->
<div class="waviy">
    <a href="/connect">  <span style="--i:1">C</span>
    <span style="--i:2">O</span>
    <span style="--i:3">N</span>
    <span style="--i:4">N</span>
    <span style="--i:5">E</span>
    <span style="--i:6">C</span>
    <span style="--i:7">T</span></a>
</div>
</body>
</html>