<!DOCTYPE html>
<html>
<head>
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="/scripts/SocketConfig.js"></script>
    <title>WebSocket Lobby</title>
</head>
<body>
<audio id="myAudio" th:src="@{/audioLobby}" th:type="'audio/mpeg'" autoplay></audio>
<h1>[[${game.identifier}]]</h1>
<span id="userName" data-sec-authentication="name"></span>
<div>
    <p>Connected users:</p>
    <ul id="user-list">
        <li>Matyi</li>
    </ul>
</div>
<button id="start-game-btn" data-th-onclick="startGame()">Start Game</button>
<a href="/home">
    <p>Home</p>
</a>

<!--Ez kapcsolodik a szerverhez az oldal betoltese utan
 es az adott jatekhoz, websocketen keresztul-->
<script>connect('[[${game.identifier}]]', '[[${userName}]]')</script>

</body>

</html>
