<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
    <title>2D Game Board</title>

    <script type="text/javascript" src="GameBoard2D.js"></script>
</head>

<body>

<div id="gameboard" style="position:absolute; width:3000px; height:3000px; background:#008000; margin:30px;">
    <div id="A11" style="left:0px; top:0px; position:absolute; width:100px; height:100px;background:#A52A2A"></div>
    <div id="A12" style="left:100px; top:0px; position:absolute; width:100px; height:100px"></div>
    <div id="A13" style="left:200px; top:0px; position:absolute; width:100px; height:100px;"></div>
    <div id="A14" style="left:300px; top:0px; position:absolute; width:100px; height:100px;"></div>
    <div id="A15" style="left:400px; top:0px; position:absolute; width:100px; height:100px;"></div>

    <div id="A21" style="left:0px; top:100px; position:absolute; width:100px; height:100px;"></div>
    <div id="A22" style="left:100px; top:100px; position:absolute; width:100px; height:100px;"></div>
    <div id="A23" style="left:200px; top:100px; position:absolute; width:100px; height:100px;"></div>
    <div id="A24" style="left:300px; top:100px; position:absolute; width:100px; height:100px;"></div>
    <div id="A25" style="left:400px; top:100px; position:absolute; width:100px; height:100px;"></div>

    <div id="A31" style="left:0px; top:200px; position:absolute; width:100px; height:100px;"></div>
    <div id="A32" style="left:100px; top:200px; position:absolute; width:100px; height:100px;"></div>
    <div id="A33" style="left:200px; top:200px; position:absolute; width:100px; height:100px;"></div>
    <div id="A34" style="left:300px; top:200px; position:absolute; width:100px; height:100px;"></div>
    <div id="A35" style="left:400px; top:200px; position:absolute; width:100px; height:100px;"></div>

    <div id="A41" style="left:0px; top:300px; position:absolute; width:100px; height:100px;"></div>
    <div id="A42" style="left:100px; top:300px; position:absolute; width:100px; height:100px;"></div>
    <div id="A43" style="left:200px; top:300px; position:absolute; width:100px; height:100px;"></div>
    <div id="A44" style="left:300px; top:300px; position:absolute; width:100px; height:100px;"></div>
    <div id="A45" style="left:400px; top:300px; position:absolute; width:100px; height:100px;"></div>

    <div id="A51" style="left:0px; top:400px; position:absolute; width:100px; height:100px;"></div>
    <div id="A52" style="left:100px; top:400px; position:absolute; width:100px; height:100px;"></div>
    <div id="A53" style="left:200px; top:400px; position:absolute; width:100px; height:100px;"></div>
    <div id="A54" style="left:300px; top:400px; position:absolute; width:100px; height:100px;"></div>
    <div id="A55" style="left:400px; top:400px; position:absolute; width:100px; height:100px;"></div>
</div>

</body>
</html>