<!DOCTYPE html>
<html>
<head>
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="/scripts/GameSocket.js"></script>

    <title>2D Game Board</title>
    <link rel="stylesheet" href="/board.css">

</head>
<body>
<div id="inventory">

    <h1>Inventory</h1>
    <h2 > Coins:  <span id="money">nem talált</span></h2>
    <h2>Tree:<span id="tree">nem talált</span></h2>
</div>

<table  class="game-container" translate="yes">
    <tbody id="table">
        <tr th:each="row, rowIdx : ${game.getGameMap.tiles}">
            <span th:each="element, colIdx : ${row}">
                <td>
                    <div class="game-tile">

                        <img th:src="@{${element.image}}"/>


                    </div>
                </td>
            </span>
        </tr>

    </tbody>
</table>
<div id="mycharacter"><img src="/Character/purpleShirtBoy.png" alt="karakter"></div>
<div class="game-container">
    <span id="posts"></span>

</div>
<div class="game-container">
<span id="others" onclick="fight()"></span>

</div>


<script>connect('[[${game.identifier}]]', '[[${userName}]]')</script>

</body>
</html>