<!DOCTYPE html>
<html>
<head>
    <title>2D Game Board</title>
    <link rel="stylesheet" href="/board.css">
</head>
<body>

<div class="game-container">
    <table>
        <tbody>
        <tr th:each="row, rowIdx : ${game.map.tiles}">
            <span th:each="element, colIdx : ${row}">
                <td>
                    <img th:src="@{${element.image}}"/>
                </td>
            </span>
        </tr>
        </tbody>
    </table>
</div>








<!--<script type="text/javascript">-->
<!--    // Define the number of rows and columns in the game board-->
<!--    var numRows = 64;-->
<!--    var numCols = 64;-->

<!--    // Create the game board-->
<!--    var gameBoard = document.getElementById("gameboard");-->
<!--    for (var row = 1; row <= numRows; row++) {-->
<!--        for (var col = 1; col <= numCols; col++) {-->
<!--            var div = document.createElement("div");-->
<!--            div.id = "A" + row + col;-->
<!--            div.style.left = (col - 1) * 10 + "px";-->
<!--            div.style.top = (row - 1) * 10 + "px";-->
<!--            div.style.position = "absolute";-->
<!--            div.style.width = "10px";-->
<!--            div.style.height = "10px";-->
<!--            if ((row + col) % 2 == 0) {-->
<!--                div.style.background = "#A52A2A";-->
<!--            }-->
<!--            gameBoard.appendChild(div);-->
<!--        }-->
<!--    }-->
<!--</script>-->

</body>
</html>