<!DOCTYPE html>
<html>
<head>
    <title>Tilemap Example</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<div class="tilemap-container">
    <div class="tilemap">
        <!-- Tilemap tiles -->
        <div class="tile grass"></div>
        <div class="tile grass"></div>
        <div class="tile water"></div>
        <div class="tile water"></div>
        <div class="tile grass"></div>
        <div class="tile grass"></div>
        <div class="tile grass"></div>
        <div class="tile grass"></div>
        <div class="tile grass"></div>
        <div class="tile grass"></div>

        <div class="tile grass"></div>
        <div class="tile grass"></div>
        <div class="tile water"></div>
        <div class="tile water"></div>
        <div class="tile grass"></div>
        <div class="tile grass"></div>
        <div class="tile grass"></div>
        <div class="tile grass"></div>
        <div class="tile grass"></div>
        <div class="tile grass"></div>

        <div class="tile grass"></div>
        <div class="tile grass"></div>
        <div class="tile water"></div>
        <div class="tile water"></div>
        <div class="tile grass"></div>
        <div class="tile grass"></div>
        <div class="tile grass"></div>
        <div class="tile grass"></div>
        <div class="tile grass"></div>
        <div class="tile grass"></div>

        <div class="tile grass"></div>
        <div class="tile grass"></div>
        <div class="tile water"></div>
        <div class="tile water"></div>
        <div class="tile grass"></div>
        <div class="tile grass"></div>
        <div class="tile grass"></div>
        <div class="tile grass"></div>
        <div class="tile grass"></div>
        <div class="tile grass"></div>

        <div class="tile grass"></div>
        <div class="tile grass"></div>
        <div class="tile grass"></div>
        <div class="tile grass"></div>
        <div class="tile grass"></div>
        <div class="tile grass"></div>
        <div class="tile grass"></div>
        <div class="tile grass"></div>
        <div class="tile grass"></div>
        <div class="tile grass"></div>
    </div>
</div>
</body>
</html>
