

#character{
    height: 200px;
    width: 200px;
    outline: 1px solid black;
    position: absolute;
    top: 78px;
    left: 2px;
    /* background-color: red;*/
}

#img{
    position: absolute;
    height:  180px;
    width: 180px;
}